
.container > * {
  border: 1px solid black;
  border-bottom: 0;
}

.header {
  padding: 5px;
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;

}

.content {
  user-select: none;
}

.item {
  cursor: pointer;
  padding: 5px;
}

.item:hover {
  background-color: #ddd;
}

.list {
  min-height: 100px;
}

.minimized {
  display: none;
}
