.body > * {
  display: block;
}

.container {
  margin-top: 20px;
}

.breadcrumbs > * {
  margin-right: 5px;
  text-decoration: none;
}
.breadcrumbs > *:hover {
  text-decoration: underline;
}

.breadcrumbs > *::after {
  content: ' > ';
}

.breadcrumbs > *:last-child::after {
  content: '';
}
