.container > * {
  border: 1px solid black;
  border-bottom: 0;
}

.header {
  padding: 5px;
  min-width: 100px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.content {
  height: 200px;
}

.input {
  display: block;
  width: 100%;
  height: 20px;
  box-sizing: border-box;
  padding: 3px;
}

.input:focus {
  outline: none;
}
